.background-leaves {
	background: url("/leaves-blur.jpg");
	background-position: center;
	background-repeat: none;
	background-size: cover;
}
.tile {
	background-color: rgba(0, 67, 82, 0.22);
}

.right-leaves {
	top: 6rem;
	right: -16rem;
	width: 35rem;
	transform: rotate(-67deg);
	/* z-index: -10; */
	position: absolute;
}

.left-squale {
	left: -9rem;
	top: -4.1rem;
	position: absolute;
}
